footer {
  padding: 2rem;
  background-color: var(--overlay-background-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 10px 0;
  width: 75%;
  font-size: 12px;
  justify-content: space-between;
  display: flex
}

footer .footer a {
  color: var(--text-color);
  font-size: 15px;
}



